@import '@/qunar/reset.scss';

.qqContent{
    @include rect(100%, 100%);
    .qqLogin{
        @include rect(100%, 100%);
        background-color: rgba(248, 248, 248, 1);
        @include flexbox();
        @include align-items();
        @include flex-direction(column);
        .qqheader{
            @include rect(100%, 0.44rem);
            @include background-color(rgba(255, 102, 136, 0.533));
            font-size: .16rem;
            @include flexbox();
            @include justify-content();
            @include align-items();
            @include color(#fff);
            span{
                @include fullscreen(1, absolute);
                @include setposition(auto, auto, auto, 2%);
            }
        }    
        .qqlogo{
            @include flexbox();
            @include justify-content();
            @include align-items();
            @include margin(0.2rem 0 0 0);
            img{
                @include border-radius(0.1rem 0.1rem 0 0);
                @include rect(84%, 2.8rem);
            }
        }
        .bbox{
            @include flexbox();
            @include rect(84%, auto);
            @include justify-content(space-between);
            @include align-items();
            // @include margin(0 0 0.2rem 0);
            @include padding(0.1rem 0.2rem);
            @include background-color(rgba(243, 236, 236, 0.541));
            .boxleft{
                p{
                    @include padding(0.05rem 0);
                }
            }
            .photo{
                @include rect(0.47rem, 0.47rem);
                border-radius: 50%;
            }
            
        }
        
        .addaccount{
            @include border-radius(0 0 0.1rem 0.1rem);
            @include rect(84%, auto);
            @include background-color(rgba(243, 236, 236, 0.541));
            @include text-align(left);
            @include padding(0.1rem 0 0.1rem 0.2rem);
            border:none;
            border-top:1px solid rgb(211, 205, 205);
            @include color(rgb(15, 182, 248));
        }
        .shouquan{
            @include border-radius(0.1rem);
            @include rect(84%, auto);
            @include background-color(rgba(255, 102, 136, 0.533));
            @include text-align();
            @include padding(0.1rem 0);
            border:none;
            display: block;
            @include margin(0.4rem 0);
            @include color(#fff);
        }
    }
}