@import '@/qunar/reset.scss';
    ul.cen4{
      // @include margin(0.2rem 0 0 0);
      @include padding(0 2%);
      @include rect(100%, 86%);
      @include overflow();
      @include flexbox();
      @include flex-flow(wrap);
      li{
        display: block;
        @include fullscreen(1, relative);
        @include rect(100%, auto);
        @include background-color(rgba(243, 236, 236, 0.541));
        @include border-radius(0.08rem);
        @include margin(0 auto 0.1rem);
        @include padding(2% 2%);
        span.te{
          @include fullscreen(2, absolute);
          @include font-size(0.4rem);
          @include rect(0.4rem, 0.4rem);
          top:26%;
          left:45%;
        }
        .oout{
          @include background-color(#fff);
          @include rect(100%, 2.6rem);
          @include margin(0 0 0.1rem 0);
          @include padding(0.05rem 0);
          @include text-align();
          @include overflow(hidden);
          video{
            @include rect(auto, 100%);
            // @include padding(2% 18%);
          }
        }
        a{
          @include font-size(0.16rem);
          @include color(rgb(122, 117, 117));
          @include text-align(left);
          text-indent: 0.32rem;
          @include padding(3% 5%);
        }
        div.bott{
          @include padding(0 0.12rem 0.08rem 0.12rem);
          @include rect(100%, 0.42rem);
          @include flexbox();
          div.left{
            @include rect(60%, 0.3rem);
            @include flexbox();
            // @include border-radius(50%);
            // @include overflow(hidden);
            img{
              @include rect(0.3rem, 0.3rem);
              @include border-radius(50%);
            }
            p{
              @include font-size(0.16rem);
              @include color(rgb(122, 117, 117));
              @include padding(0.05rem 0.05rem 0.1rem 0);
              @include margin(0 0 0 0.1rem);
            }      
          }
          div.right{
            @include text-align(right);
            @include flex();
            @include margin(0.05rem 0 0.1rem 0);
            span{
              @include font-size(0.16rem);
              @include color(rgb(122, 117, 117));
              @include padding(0 0.1rem);
            }
            span.active{
              @include color(rgba(255, 102, 136, 0.533));
            }     
          }
        }
      }
    }
  .footer {
    // @include fullscreen(2, fixed);
    // @include setposition(auto, auto, 0, auto);
    @include rect(100%, 0.5rem);
    @include background-color(#eee);
    ul {
      @include rect(100%, 100%);
      @include flexbox();
      a {
        @include flex();
        @include rect(auto, 100%);
        @include flexbox();
        @include justify-content();
        @include align-items();
        &.active {
          @include color(rgba(255, 102, 136, 0.533));
        }
      }
    }
  }
  span#active{
    @include color(rgba(255, 102, 136, 0.533));
  }
